.filter {
   @apply flex items-center gap-x-1;
}
.main {
   @apply sm:mb-10 mb-8;
}
.actions {
   @apply flex items-center gap-x-2;
}
.button {
   @apply h-11 flex-auto border-[2px] transition-colors;
}
.button-apply {
   @apply text-darkBlue border-darkBlue font-bold
   hover:bg-darkBlue hover:text-white;
}
.button-cancel {
   @apply text-gray border-gray hover:bg-gray
   hover:text-white;
}
.filter-item {
   @apply md:mb-6 mb-4 last:mb-0;
}
.filter-name {
   @apply font-medium mb-2 text-sm sm:text-base;
}
/* Checkbox Field*/
.filter-checkbox-field {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
   row-gap: 16px;
}
.checkbox-item {
   @apply flex items-center sm:gap-2 gap-1;
}
.checkbox {
   @apply hover:bg-transparent p-0 #{!important};
   & svg {
      @apply sm:size-[22px] size-5;
   }
}
.checkbox-label {
   @apply text-sm sm:text-base;
}
/* Input Field */

/* Media Queries */

@media (max-width: 550px) {
   .filter-checkbox-field {
      grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
   }
}
