@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
   @apply h-full w-full bg-main;
}
.container {
   @apply w-full h-full max-w-[1410px] px-[15px] mx-auto;
}
.title-h1 {
   @apply text-black md:text-3xl text-2xl font-bold md:mb-8 mb-5;
}
.section {
   @apply md:mb-16 mb-10;
}
