.wrapper {
   @apply relative;
}
.content {
   @apply relative lg:py-40 sm:py-20 py-10 sm:px-[10%] px-[5%] z-20;
}
.title {
   @apply text-white max-w-[400px];
}
.back {
   @apply object-center max-sm:object-left-top;
}
